{% extends 'base.html' %}

{% block content %}

<div class="p-3 m-0 border-0 bd-example m-0 border-0">

<form action="{{ url_for('database.add_track') }}" method="POST">

    {{ trackForm.csrf_token }}
    {{ trackForm.hidden_tag() }}

    <div class="input-goup">
        <br>
        <span class="input-group-text">Track Title</span>
        <input type="text" class="form-control" placeholder="Track Title">{{ trackForm.trackTitle['trackTitle'] }}
        <br>
        <span class="input-group-text">Artist Name</span>
        <input type="text" class="form-control" placeholder="Artist Name">{{ trackForm.artistName['artistName'] }}
        <br>
        <span class="input-group-text">Release Name</span>
        <input type="text" class="form-control" placeholder="Release Name">{{ trackForm.releaseName['releaseName'] }}
        <br>
        <span class="input-group-text">Track Number</span>
        <input type="text" class="form-control" placeholder="Track Number">{{ trackForm.trackNo['trackNo'] }}
        <br>
        <span class="input-group-text">Track Duration</span>
        <input type="text" class="form-control" placeholder="Track Duration">{{ trackForm.trackLength['trackLength'] }}
        <br>
        <br>
    </div>
  
    {{ trackForm.submit(class="btn btn-outline-success") }}
</form>

{{ sql_query }}

</div>

{% endblock %}



  