{% extends 'base.html' %}


{% block content %}

<!-- <link href="{{url_for('static', filename='assets/features.css') }}" rel="stylesheet"> -->
<link href="{{url_for('static', filename='assets/cards.css') }}" rel="stylesheet">

<div class="p-3 m-0 border-0 bd-example m-0 border-0">

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">View Table</a>
      <a href="#" class="card-link">Add Artist</a>
    </div>
  </div>

</div>

{% endblock %}



