<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="{{ header[0] | safe }}"></script>
    <script type="text/javascript" src="{{ header[2] | safe }}"></script>
    <script type="text/javascript" src="{{ header[3] | safe }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='dashboards.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="static/favicon/favicon.ico" />


    <title>Music Database General Dashboard</title>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-row">



    <div class="container-fluid">
        {{ div_plot | safe }}
        {{ div_table | safe }}


    </div>




    {{ script1 | safe }}


</body>

</html>